
/* table border*/
table , td {
    border: 1px solid black;
}

/* element(s) placement */
section {
    padding-left: 55px;
    padding-top: 55px;
}

/* table positioning */
#puzzlePosition {
    height: 250px;
    width: 450px;
    display: inline-block;
}

/* cell padding */
th, td { padding: 40px; }

/* cell spacing */
table { border-collapse: separate; border-spacing: 5px; }

/* cell text styling */
td {
    font-size: 15px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* cell-hover & button-hover styling */
td:hover, #button1:hover, #button2:hover {
    background-color: #87A280;
    /* color: white; */
}

/* cell-clicking styling */
td:active {
    background-color: gray;
    color: white;
}

/* button positioning */
#buttonPosition {
    display: inline-block;
}

/* button styling */
.buttons button {
    background-color: white;
    border: 1px solid gray;
    color: black;
    box-shadow: 0px 1px 4px -2px #333;
    display: block; /* stack buttons */
    padding: 10px 24px;
    cursor: pointer;
    width: 100px;
    border-radius: 8px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* radio button styling */
.radioButtons {
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
